# Meeting — June 16, 2017

Attendees: fr33domlover, iko, Salt, mray, smichel17, wolftune


## Updates

### wiki/team

- smichel17: added anchors for each person's bio, eg, https://wiki.snowdrift.coop/community/team#wolftune

### How's the pace since chreekat isn't a fulltime dev?

- fr33domlover: I haven't been following snowdrift development for a few months, and I was worried not having a full-time dev will make things more difficult
- wolftune: yeah, not having a full-time developer has slowed development. he was less active for a few months but he's back and making progress. my impression is he thinks the code is not at the stage yet 
-  Salt: my understanding he'll sit at a more architectural level, more gardening of issues

- iko: status, aiui after a conversation with chreekat (when we were reviewing his todo list) there are a bunch of Haskell tasks to do. most of them are medium-sized tasks, pretty involved for a newcomer. If anyone is interested in tackling a task of that size, we are happy to assist (Scrum Masters can help find tasks to work on)
- for devs interested, see <https://tree.taiga.io/project/snowdrift-dev/issues>, filtered by the development tag
- high-priority tasks are on the kanban <https://tree.taiga.io/project/snowdrift-dev/kanban> in the Dev Ready column
- example immediate item: merge !40 (alpha-ui-design to master)

### Dev update

- chreekat (relayed from IRC): i'm not making it today
- short status: make-payments is rounding the bend; progress was made yesterday
- Let's see, other updates: crowdmatch utility has been deployed for months,and there's no reason not to actually DO them, except that I think they should be done near the beginning of the month, and I always forget


## Billing / balance alpha UI

- wolftune: question from chreekat: the function to do a crowdmatch is functional but I get the impression it's manual
- it needs to be run manually on a monthly basis, e.g. at the beginning of the month
- but no notifications at this time
- as far as you're concerned, is your mockup fine and you're happy if someone can
- mray: sure. the question remains is the effect of the missing features
- smichel17: are we talking about the dashboard?
- wolftune: we're talking about the history
- mray: the history is a tab on the dashboard
- smichel17: <https://tree.taiga.io/project/snowdrift-dev/us/454>
- wolftune: the only events applied are crowdmatch and things carry-overs
- I'm okay with doing those without the mechanism for payout
- how do people feel about proceeding with that, do people want to wait until all the pieces are in place?
- I wasn't aware until today that it was possible, the manual 
- mray: my feeling is, I'd like to not do things that communicate activity when there's not progress. when something is announced, I'd like it to be real change, working automatically and not manually
- smichel17: sounds like a non-issue, let's wait until it's done (shown in UI) instead of asking whether to do it
- fr33domlover: if there's no frontend to see what happens. it's less exciting when we can't see
- wolftune: I agree it's better to be able to see it
- smichel17: we can retroactively run it, and charge it. but there's no reason to run it now unless for testing purposes, and run it when we can show it
- fr33domlover: it should be pretty simple to get the data from the db and make a simple/ugly page to display it

### Next steps
- mray updates "reference" https://tree.taiga.io/project/snowdrift-dev/us/454
- ping chreekat about getting db variables implemented so the dashboard history frontend can be done


## Coworking

###  Next step
- wolftune speaks with smichel17 after the meeting to arrange time


## Add a separate "updates" meeting section?

- smichel17: how about an updates section at the beginning
- right now it's mixed in with the agenda, we can get it over 
- before the discussion starts, we can be up-to-date on the state of things
- e.g. I was working on <https://wiki.snowdrift.coop/community/team#wolftune>
- wolftune: it's fine if you want to share things you've done lately, but I'm not sure if it's helpful for being updated
- smichel17: it would be useful for me to hear what others have done, any change
- wolftune: does it make sense to make this separate from check-ins?
- smichel17: 
- Salt: I always thought you can mention things you're working on in checkin
- wolftune, mray: agreed
- wolftune: if it's on your mind, 
- smichel17: let me rephrase, currently these items are currently agenda items; I'm proposing we do the updates at the top
- wolftune: you're talking about optimising the order of agenda items?
- smichel17: yes
- wolftune: we can tell people that updates go at the top


## Meeting note formats

(added retroactively, paraphrased)
- wolftune: current format for reviewing the previous meeting's notes is a bit awkward (making sure we didn't miss any)
- smichel17: We'll update the format.

### Next steps

- During agenda building, copy next steps from previous meeting for review


## Carried over items:

### Video update

- mray: while I was away on vacation, Johannes started working on it again, latest version on Seafile
- <https://snowdrift.sylphs.net/d/126dd8971e/>
- I haven't had a chance to speak with him yet


### OSB etc.

- Salt: unfortunately I can't attend OSB this year
- wolftune: sorry to hear, you'll be missed
- I still haven't scheduled a meeting time locally, calling it BoF (Birds of a Feather session) makes sense but also weird because I didn't register
- Do we want to try to get somebody who is there run an informal meetup (eg, thursday night, place to eat, anyone who shows up), conference session on friday?
- smichel17: can we make a plan now?
- wolftune: we can finalise the basic idea, put it on the local cal and send out a ML announcement
- any comments to my proposal (pick someplace to eat, have people show up)? or schedule something friday not, and have Salt check if it conflicts with the IndieWebCamp events
- Salt: they're having a pizza event on friday night, 5:30 PM at Pine Street Market
- wolftune: how about letting people know we'll have a meetup nearby?
- Salt: I'm wary of cooping someone else's event, but there are people going to OSB in town and I consider snowdrift to be closer to OSB
- **Next step: wolftune makes plan today**

