# Meeting — May 8, 2017

Attendees: wolftune, Salt, alyssa, mray, JazzyEagle, iko

---

## Agenda

### LFNW report

- Salt: LFNW is a big convention in Washington, this year snowdrift had a joint
  snowdrift/OSI table
- I was there with Aaron. got to meet Michael and we had Athan with us
- wolftune: it was good to be back, positive interest from people. have some
  contacts to enter into CiviCRM
- Salt: I gave the CiviCRM talk again and KeePass talk, they should be uploaded
  to the conference site soon
- met some potential volunteers, including dvn

### OSB plans

- Salt: Open Source Bridge is being held on June 20-23 in Portland
- it's not cheap but volunteers can go free

### Video

- mray: we had a meeting last week and I incorporated some of the edits into
  the video
- best if aaron talks about it
- wolftune: sent new shorter script, unsure if it was received. did people see
  it?
- mray: yes
- wolftune: progress, thoughts, suggestions? do you have everything to move
  forward?
- mray: yes
- wolftune: feedback, estimated timeline?
- mray: need to do research, not going to change entire previous work
- filling gap that's missing, not too much left to do
- need another take on recording, some sort of break in middle
- need to find music as another task before final video
- we are pretty close to having a final video
- JazzyEagle: what kind of music are you looking for?
- mray: something unobtrusive that stays out of the way
- wolftune: I may have some time to produce something
- JazzyEagle: I could donate a song that was created
- mray: something to point to, put up a link and we will see if it will work
- wolftune: timing of script is pretty close, but probably not final
- mray: explain?
- wolftune: some level of possible shifting, want to see synced with graphics
  before putting in lots of time
- words and such can be shifted around, can affect final version
- possible to be done for OSB, but unlikely (depends on how fast mray works)
- JazzyEagle: <https://soundcloud.com/jazzyeagle/the-war-on-the-horizon-has-1>
- remix by zth <https://zthmusic.bandcamp.com>

### Carried-over items

#### Dev status update

- Updates from chreekat via IRC:
- <https://git.snowdrift.coop/sd/snowdrift/merge_requests/38> - "it is a
  standalone app that will be run on production. it looks for patrons who can
  make a payment, and then makes it."
- I know a relatively large numbers of Haskellers (like, 3 of them) have been
  asking for any tasks worth doing,and I don't have any good answers.
- there are more areas of accountability than there are tasks. Lots of things
  that require owning pieces of the project. The one best thing to spin off is
  the auth subsite
- JazzyEagle: Are there any db/variables yet to expose, would be the better
  question. I honestly haven't looked at chreekat's updates the past few weeks,
  but that was the big hold up for awhile now.
- chreekat: JazzyEagle: some new ones are available now, some are being added
  in 38
- the bigger question there is working out how we integrate html/css work into
  the whole, haskell-html-css-rainbows-dinosaurs project
- **Next step: continue waiting on chreekat to make decisions**
