<!-- Previous week's meeting notes: https://wiki.snowdrift.coop/resources/meetings/2019/ -->
<!-- Meeting location: https://meet.jit.si/snowdrift -->

# Meeting — May 15, 2019

Attendees: salt, msiep, wolftune

<!-- Check-in round -->

## Metrics

Discourse (over past week): <!-- stats from https://community.snowdrift.coop/admin?period=weekly -->

- Signups: 2 -> 0
- New Topics: 1 -> 0
- Posts: 13 -> 9

Sociocracy 3.0, wolftune @ page: 11 of 37

## Reminders on building new best-practice habits

### Sociocracy 3.0 stuff
- Drivers, describing driver statements: https://patterns.sociocracy30.org/describe-organizational-drivers.html
    - Current situation + effect + what's needed + impact of doing it
    - forum discussion of our use: https://community.snowdrift.coop/t/sociocracy-3-0-drivers/1309

### Use of GitLab kanban boards
- Use the boards to pick your tasks, dragging or marking To Do and Doing appropriately
- https://community.snowdrift.coop/t/using-the-kanban-boards-in-gitlab-plus-wolftune-check-in/1263

## Carry-overs

```
## design progress, pace
- NEXT STEP (h30): document process of implementing mockups <https://gitlab.com/snowdrift/snowdrift/issues/158>

## New Project Forms
- NEXT STEP: (salt) implement forms 1 and 2 in civicrm (and 3 when ready) https://gitlab.com/snowdrift/outreach/issues/41 (will be updated with the implementation step)
- NEXT STEP: (mray) https://gitlab.com/snowdrift/design/issues/78

## New Meeting Time
- NEXT STEP (smichel): Make sure everybody knows about the new meeting times

## Project outreach
- NEXT STEP (salt): reply to msiep's email about LFNW project connections and get stuff captured

## GitLab.com migration
- NEXT STEP (smichel17): Wrap up migration <https://gitlab.com/snowdrift/ops/issues/41>

## LFNW + beta milestone prioritizing/scheduling
-  <https://gitlab.com/groups/snowdrift/-/issues?milestone_title=LFNW+2019>
- NEXT STEP (smchel17): Delete or close the LFNW 2019 milestone

```

<!-- New Agenda Down Here  -->

## OSU OSL progress
- wolftune is blocker really on sending email to them about due-diligence stuff, needs to figure out prioritizing that to get it done
- NEXT STEP (wolftune): https://gitlab.com/snowdrift/ops/issues/52

## Project page stuff
- mray and msiep had good chat on Monday, mockups being planned
- NEXT STEP (mray): https://gitlab.com/snowdrift/design/issues/106


<!-- Decide where to capture outstanding tasks -->
<!-- Closing round -->
<!-- Capture TODOs -->
<!-- Add meeting notes to wiki -->