# Meeting — September 19. 2016

Attendees: Salt, iko, mray, MSiep, chreekat, wolftune

---

## Checkin

* Salt: got back from long weekend of camping, recovering. excited to get
  CiviCRM tasks going
* iko: prototyping, samples in progress, would like to discuss some questions with
  mray
* mray: been looking into sass and susy, having a cold, haven't had much time
  to work on snowdrift
* msiep: trying to stay in touch, busy week, but let me know if there's
  anything I can help with
* chreekat: busy, a little isolated, writing code
    * begin to feel out money-handling and pages with inputs/outputs that I
      need
    * far away from html right now, making db for finances, which is going
      well
* wolftune: optimistic I can get through more things than previously, didn't
  have time to focus, here today and have time

## Agenda

- dashboard and project page update? (update on anything else?) (chreekat)
- running the development site on your local computer (chreekat, wolftune)
- bryan's upcoming plans (chreekat)

## Dashboard and project page update

- mray: new design direction
<https://snowdrift.sylphs.net/d/29adfc9157/?p=/Website%20mockups/MVP&mode=list>
- 3 deg. tilt to set the style of the page
- mray: getting some feedback on the how-it-works page explanation
- 3 icons for values matching, the idea is to build a common language to use
  throughout the pages
- I built the pages using a grid previously but I notice we don't use the
  horizontal space
- for now, I use a narrow container with gutter
- researching sass and tools to create a custom grid
- chreekat: no energy for detailed feedback right now, but that looks amazing
  and really cool
- iko: working on css/html prototypes <https://snowdrift.sylphs.net/prototypes/iko/>
- based on mray's latest `Website mockups/MVP` mockups, notably project page
- also included some typography changes, after we previously discussed
  switching from Nunito to Rubik
- wolftune: I think it's an improvement
- iko: agreed, numbered lists look better in this font for example
- chreekat: is there a static version?
- iko: versions are in the snowdrift-design git repo but live preview is only
  of the latest version
- chreekat: okay, just found <https://git.snowdrift.coop/sd/design/tree/ca69d55ca417695e89fce67331d0df50b99c4b0e/prototypes/iko>

## Running the development site

- wolftune: I was testing site building with the new tool but it wouldn't
  build
- chreekat: I'll work on it tomorrow and come up with a solution
- wolftune: that's fine, as long as it's running and documented so new people
  don't run the wrong commands
- mray: what should we do about sass? if we were to use susy, then we'd need it
  anyway
- chreekat: there's going to be some integration work, but we should plan on
  doing that
- you'll have to prototype with it first. once you've got something that's
  working, then we can figure out how to take that setup and incorporate it
  into how snowdrift is built
- if you set up something that works for you first, then it'll be easier to
  keep the changes and modify snowdrift later
- and somebody will have the expertise of running sass (I don't)
- so I'll say use it, and cross bridges when we come to them

## Bryan's upcoming plans

- chreekat: I'll be returning to California next week and PDT soon
- Salt: will that affect your availability?
- chreekat: I'll be available the first week


Next meeting: same time Wednesday, email announcement to confirm (Salt)

