---
title: Snowdrfit.coop Advisors
categories: community
toc: false
...

<br />

<div class="team"><div class="profileUrl"><a href="people/mlinksva">Mike Linksvayer</a><img class="headshot" alt="Mike Linksvayer" src="../assets/people/mlinksva.png"></div>

<div class="bio">Volunteer for various Free/Libre/Open projects, including
OpenHatch, Software Freedom Conservancy, AcaWiki, Open Definition Advisory
Council, autonomo.us, and the Economics and the Commons Conference and
[blogs](http://gondwanaland.com/mlog/).</div>
</div>

---

<div class="team"><div class="profileUrl"><a href="people/apotheon">Chad Perrin</a><img class="headshot" alt="Chad Perrin" src="../assets/people/apotheon.png"></div>

<div class="bio">As an autodidact, coder, idealist, philosopher, transhumanist,
and writer, I have passed through a number of different vocations in life,
across three continents as well as the Internet. I consider my most notable
work to be my time as the first paid employee of the Wikimedia Foundation; my
prolific writing on the subjects of security, programming, and open source
software for TechRepublic as a regular contributor for half a decade; my
development effort for a number of open source software projects; and my work
as the co-founder and director of the Copyfree Initiative. Add to that my
support of Snowdrift, and I hope that on balance, I am a net contributor to the
betterment of the world in which I live.</div>
</div>

---