//--------------------------------------------------------------------------//
// Mixins                                                                   //
//--------------------------------------------------------------------------//

// Vendor prefixes
=appearance($v)
    appearance: $v
    -webkit-appearance: $v
    -moz-appearance: $v

=box-shadow($c, $t, $r, $b, $l)
    box-shadow: $c $t $r $b $l
    -webkit-box-shadow: $c $t $r $b $l

=word-wrap()
    word-wrap: break-word
    hyphens: auto
    -ms-hyphens: auto
    -moz-hyphens: auto
    -webkit-hyphens: auto

// Given a layout map, calculate single column width (rem)
@function column-width($lyt)
    $ct: map-get($lyt, container)
    $gt: map-get($lyt, gutter)
    $cl: map-get($lyt, columns)
    @return ($ct - ($gt * ($cl + 1)))/$cl

// Given number of columns to span and layout map,
// calculate column span width (rem)
@function column-span($spn, $lyt)
    $cw: column-width($lyt)
    $gt: map-get($lyt, gutter)
    @return ($cw * $spn) + ($gt * ($spn - 1))

// Given a layout map, set container style
=content($lyt)
    &
        max-width: map-get($lyt, container)
        margin: 0 auto
        clear: both

// Given a layout map and columns to span, set column span style
=cspan($spn, $lyt)
    &
        width: column-span($spn, $lyt)
        display: block
        float: left
        margin-right: map-get($lyt, gutter)
    &:first-child
        margin-left: map-get($lyt, gutter)

// Given breakpoint, set media query
=respond($b)
    @media (min-width: $b+"px")
        @content


//--------------------------------------------------------------------------//
// Colors                                                                   //
//--------------------------------------------------------------------------//

$blue-bq: #dff7fe                               // extracted from old
$green-searchform: rgba(78, 191, 122, 0.12)     // production branches
$blue-text-shadow: rgba(19,98,142,0.4)
$white-text-shadow: rgba(255, 255, 255, 0.5)
$blue-table-header: rgba(197, 241, 253, 0.5)    // $bright-blue 50% alpha
$blue-toc: rgba(197, 241, 253, 0.3)             // $bright-blue 30% alpha


//--------------------------------------------------------------------------//
// Common elements                                                          //
//--------------------------------------------------------------------------//

pre>code
    display: block
    padding: 1.5rem 3rem

// Hide alt text being used as caption
.caption
    display: none

// Tables
table
    font-size: 1.5rem
    strong
        font-weight: 800
tr.header
    background: $blue-table-header
tr:nth-of-type(even)
    background: $gray-table-row

// Forms
form p
    color: $bright-blue-text
fieldset
    margin: 0 0 1.5rem 0
legend
    font-weight: 600

input[type='text'], input[type='username'],
input[type='password'], input[type='file']
    padding: 0.5rem 0.3rem
    cursor: text
input[type='file']
    padding: 0
button, input[type='submit'], input[type='button'], input[type='reset']
    width: auto
    margin: 1.5rem 0
    padding: 0.4rem 0.6rem 0.2rem
    display: table
    outline: 0
    border: 0
    border-radius: 2.7rem/4.8rem
    background: $green
    font-size: 1.5rem
    font-weight: 800
    color: $white
    text-shadow: 0.2rem 0.2rem 0 $blue-text-shadow
    transition: all 0 ease-out 0.03s
    cursor: pointer

.select
    margin: 0
    padding: 0
    border: 0.1rem solid $green
    border-radius: 0.3rem
    overflow: hidden
    background: $white url(rt('icon-select-arrow.png', 'img')) no-repeat 95% 50%
    cursor: pointer
    select
        margin: 0
        padding: 0.3rem
        border: 0
        box-shadow: none
        background: transparent
        +appearance(none)
        font-size: 1.5rem
        color: $green
option
    padding: 0 3rem

input[type='checkbox'], input[type='radio']
    border: 0.1rem solid $dark-blue
    cursor: pointer
input[type='checkbox']
    border-radius: 0.3rem

// Notifications
ul.messages
    margin: 0
ul.messages > li
    margin: 3rem 0 1.5rem
    padding: 1rem
    position: relative
    border: 0.2rem solid $bright-blue-text
    border-radius: 0.3rem
    border-color: $note-info-color
    background: $note-info-bg
    list-style: none
    font-size: 2rem
    color: $bright-blue-text

